.volumeGaugeContainer {
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    background-color: #efefef;
}

.volumeGaugeLevel {
    position: relative;
    height: 100%;
    width: 0%;
    transition: 1s;
}