input {
  height: 30px;
  padding-left: 10px;
  border-radius: 3px;
  border: 0;
  background-color: @lightGrey;
  color: @darkGrey;
  font-size: 16px;
}

input:focus {
  outline: none;
  background-color: darken(@lightGrey, 5%);
}