@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import "_form";
@import "_margin";
@import "../containers/Login/styles.less";
@import "../containers/Header/styles.less";
@import "../containers/Sidemenu/styles.less";
@import "../containers/CreateAlbum/styles.less";
@import "../containers/Photos/styles.less";
@import "../containers/Photo/styles.less";
@import "../containers/Photo/PhotoInfo/styles.less";
@import "../containers/Cards/styles.less";
@import "../containers/Albums/styles.less";
@import "../containers/Dropbox/styles.less";
@import "../components/Loading/styles.less";


@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@lightGrey: #efefef;
@mediumGrey: #cccccc;
@darkGrey: #777777;
@veryDarkGrey: #1A1A1A;

@darkBlueGrey: #5A646E;
@green: #4EE898;
@red: #FF3F00;


// BASE //


html, body, #root, .container {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

@media (min-width: @screen-sm-min) { 
    overflow: hidden;
}

a {
  text-decoration: none;
  color: @darkBlueGrey;
}

a:hover {
    color: @veryDarkGrey;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    color: @darkBlueGrey;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.125em;
}

h3 {
    font-size: 1.5em;
}

// MODULES //

.contentBox {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding-bottom: 40px;

    .contentBox-image {
        width: 17vw;
        border-radius: 5px;
    }   
    .contentBox-body {
        padding-left: 0px;
        min-width: 70vw;
    }
    
    input, textarea {
        width: 70vw;
    }
    
}

@media (min-width: @screen-sm-min){
    .contentBox {
        padding-top: 55px;
        padding-bottom: unset;
        flex-direction: row;
        
        .contentBox-body {
            padding-left: 40px;
            min-width: 50vw;
        }
        
        input, textarea {
            width: 50vw;
        }
        
    }
}

.loadingBar {
	height: 15px;
	width: 150px;
	margin-top: 10px;

	span {
        display:inline-block;
    	height:100%;
    	width:100%;
		border-radius: 20px;
    	background-color: darken(@green, 20%);	    
		background-image: linear-gradient(
    		-45deg,
    		@green 25%,
    		transparent 25%,
    		transparent 50%,
    		@green 50%,
    		@green 75%,
    		transparent 75%,
    		transparent
	    );
    	background-size:50px 50px;
    	animation:move 2s linear infinite;
	}
	
    @keyframes move{
        0% {background-position: 0 0;}
        100% {background-position: 50px 50px;}
    }

}


.tag {
    display: inline-block;
    margin: 0px 5px 5px 0px;
    padding: 3px 7px;
    border-radius: 3px;
    background-color: @mediumGrey;
    font-size: .9em;
    color: white;    
}

.wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom:0px;
    padding: 20px 20px 80px 20px;
}

@media (min-width: @screen-sm-min){
    
    .wrapper {
        padding-bottom: 0px;
        padding: 80px 20px 20px 20px;  
    }

}

.wrapper-flex-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// STATES //

.txt-isLight {
    opacity: .5;
}

.txt-isVeryLight {
    opacity: .3;
}

.txt-white {
    color: white !important;
}

.txt-green {
    color: @green;
}

.txt-red {
    color: @red;
}

.txt-darkBlueGrey {
    color: @darkBlueGrey;
}

.txt-mediumGrey {
    color: @mediumGrey;
}

.bkg-green {
    background-color: @green;
}

.bkg-lightGrey {
    background-color: @lightGrey;
}

.bkg-darkGrey {
    background-color: @darkGrey;
}

.bkg-darkBlueGrey {
    background-color: @darkBlueGrey;
}

.bkg-veryDarkGrey {
    background-color: @veryDarkGrey;
}

.bkg-white {
    background-color: white;
}