@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import "_form";
@import "_margin";
@import "_fontColor";
@import "../containers/Login/styles.less";
@import "../containers/Header/styles.less";
@import "../containers/Sidemenu/styles.less";
@import "../containers/Upload/styles.less";
@import "../components/Photos/styles.less";
@import "../components/Albums/styles.less";
@import "../components/Albums/Cards/styles.less";

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@lightGrey: #efefef;
@mediumGrey: #cccccc;
@darkGrey: #777777;
@veryDarkGrey: #1A1A1A;

@darkBlueGrey: #5A646E;
@green: #4EE898;
@red: #FF3F00;

html, body, #root, .container {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

@media (min-width: @screen-sm-min) { 
    overflow: hidden;
}

a {
  text-decoration: none;
  color: @darkBlueGrey;
}

a:hover {
    color: @veryDarkGrey;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    color: @darkBlueGrey;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.125em;
}

h3 {
    font-size: 1.5em;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}