.photoInfoBox {
    flex-direction: column;
    position: absolute;
    padding: 25px;
    min-height:100%;
    right: 0;
    left: 0;
    top: ~"calc(100% + 60px)";
    transition: .2s;
    
    .fa {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5em;
        color: @mediumGrey;
        transition: .2s;
        cursor:pointer;
    }
    
    .fa:hover {
        color: @darkGrey;
    }    
    
}

.photoInfoShow {
    transition: .2s;
    top: 0px;
}

@media (min-width: @screen-sm-min) {

    .photoInfoBox {
        padding: 50px 30px 30px 65px;        
    }

    .photoInfoShow {
        top: 60px;
    }
    
}