doctype html
html
head
  meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
  meta(content="width=device-width, initial-scale=1.0" name="viewport")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  style(type="text/css") body {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0; font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif; background-color:#f2f2f2; } #bgtable {width: 100% !important; height: 100% !important; margin: 0; padding: 0; background-color:#f2f2f2;} table, td {border-collapse: collapse;} table {mso-table-lspace: 0pt; mso-table-rspace: 0pt;} .ExternalClass {width: 100%;} .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} img {-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: 0; text-decoration: none;} a img {border: 0;} @font-face { font-family: 'Lato'; font-style: normal; font-weight: 700; src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; } @font-face { font-family: 'Lato'; font-style: normal; font-weight: 400; src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" offset="0")
  table(id="bgtable" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%")
    tr
      td(align="center" valign="top" style="padding-top:50px")
        table(border="0" cellpadding="0" cellspacing="0" class="container" width="600" style="background-color:#ffffff;")
          tr
            td(align="left")
              img(src="https://s3.eu-central-1.amazonaws.com/periscopefiles/appFiles/mail_header600.png")
          tr
            td(align="center" style="color:#ffffff;background-color:#4EE898;padding-top:75px;padding-left:50px;padding-right:50px")
              img(src="https://s3.eu-central-1.amazonaws.com/periscopefiles/appFiles/mail_bigbulletparty.png")
          tr
            td(align="center" style="color:white;background-color:#4EE898;padding-top:20px;padding-left:100px;padding-right:100px")
              h1(style="font-size:3em;font-family:Lato, Arial, sans-serif") <b> Bienvenue #{name}&nbsp;! </b>
              p(style="color:white;font-size:16px;font-family:Lato, Arial, sans-serif") Dorénavant, tu pourras sauvegarder toutes tes photos en ligne, les rechercher et les partager, très facilement.
          tr
            td(align="center" style="color:white;background-color:#4EE898;padding-top:20px;padding-left:100px;padding-right:100px")
              a(href="https://periscope.herokuapp.com/signin/" target="_blank" style="font-size:16px;font-weight:400;font-family:Lato, Arial, sans-serif;color:#4EE898;text-decoration:none;border-radius:3px;background-color:white;border-top:12px solid white;border-bottom:12px solid white;border-right:18px solid white;border-left:18px solid white;display:inline-block;") Je me connecte
              p &nbsp;
          tr
            td(style="padding-top:50px;")
              table(align="center" border="0" cellpadding="0" cellspacing="0")
                tr
                  td(width="200")
                    img(src="https://s3.eu-central-1.amazonaws.com/periscopefiles/appFiles/mail_dropPhotos.png" width="175px")
                  td(width="275" style="padding-left:30px")
                    h2(style="color:#5A646E;font-size:24px;font-family:Lato, Arial, sans-serif;") Envoie tes photos
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Après avoir créé un album, ajoute y des photos en glissant simplement tes fichiers (JPEG ou PNG) sur la carte de l'album.
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Tu peux envoyer <b>jusqu'à 50 fichiers</b> à la fois, mais sois patient pendant le transfert et attends toujours la confirmation d'expédition avant de quitter la fenêtre.
          tr
            td(style="padding-top:25px;padding-bottom:25px;")
              hr(style="border-style:solid;border-color:#efefef;width:300px;border-width:1px 0px 0px 0px;")
          tr
            td
              table(align="center" border="0" cellpadding="0" cellspacing="0")
                tr
                  td(width="200")
                    img(src="https://s3.eu-central-1.amazonaws.com/periscopefiles/appFiles/mail_tagsSearch.png" width="175px")
                  td(width="275" style="padding-left:30px")
                    h2(style="color:#5A646E;font-size:24px;font-family:Lato, Arial, sans-serif;") Recherche par mot-clé
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Dans ta gallerie d'albums, fais une recherche en précédant ton mot-clé par un <b>hashtag</b> ("#").
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Tu rechercheras ainsi tous les albums dont au moins une photo contient ce mot-clé.
          tr
            td(style="padding-top:25px;padding-bottom:25px;")
              hr(style="border-style:solid;border-color:#efefef;width:300px;border-width:1px 0px 0px 0px;")
          tr
            td
              table(align="center" border="0" cellpadding="0" cellspacing="0")
                tr
                  td(width="200")
                    img(src="https://s3.eu-central-1.amazonaws.com/periscopefiles/appFiles/mail_sendphoto.png" width="175px")
                  td(width="275" style="padding-left:30px")
                    h2(style="color:#5A646E;font-size:24px;font-family:Lato, Arial, sans-serif;") Partage une image
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Dans les options d'une image (bouton "info"), clique sur <b>"Envoyer par E-mail"</b> et tape le nom de ton contact, son adresse E-mail et rédige un petit message.
                    p(style="color:#5A646E;font-size:16px;font-family:Lato, Arial, sans-serif;") Nous lui enverrons alors E-mail contenant une miniature de la photo ainsi qu'un lien de téléchargement vers le fichier original.
          tr
            td(style="padding-top:25px;padding-bottom:25px;")
              hr(style="border-style:solid;border-color:#efefef;width:300px;border-width:1px 0px 0px 0px;")
          tr
            td(align="center" style="padding-top:20px;")
              a(href="https://periscope.herokuapp.com/signin/" target="_blank" style="font-size:16px;font-weight:400;font-family:Lato, Arial, sans-serif;color:white;text-decoration:none;border-radius:3px;background-color:#4EE898;border-top:12px solid #4EE898;border-bottom:12px solid #4EE898;border-right:18px solid #4EE898;border-left:18px solid #4EE898;display:inline-block;") Je me connecte
          tr
            td(style="padding-top:50px")
          tr(align="center" style="background-color:#2e2e2e;font-size:12px;color:white;")
            td(style="padding-top:10px;padding-bottom:10px;")
              p <b>® Periscope</b>, 2450 Park Blvd, Palo Alto, CA 94306
  p &nbsp;