@sidemenu-mobile-height: 225px;

#sidemenu {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 40px;
    width: 250px;

    background-color: #FFFFFF;
    
    ul.sidemenu-desktop-list {
        padding: 0px;
        list-style-type: none;
    }
    
    ul.sidemenu-desktop-list li {
        padding: 20px 0px;
        border-top: 1px solid @lightGrey;
        font-size: 1.1em;
    }
    
    ul.sidemenu-desktop-list li:first-child {
        border-top: none;
    }

    z-index: 9999;
}

.sidemenu-open {
    transition: .3s ease;
    left: 0px;
    box-shadow: 1px 1px 3px 2px rgba(100,100,100,.1);
}

.sidemenu-close {
    transition-duration: .2s;
    left: -330px;
    box-shadow: none;
}

#sidemenu > .close-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: @mediumGrey;
    font-size: 20px;
    cursor: pointer;
}

#sidemenu > .close-icon:hover {
    transition: .2s;
    color: @darkGrey;   
}

.sidemenu-mobile-icons {
    display: none;
}

@media (max-width: @screen-sm-min) {

    #sidemenu{
        display: flex;
        justify-content: center;
        padding: 0px;
        right: 0px;
        top: unset;
        left: 0px;
        height: @sidemenu-mobile-height;
        width: 100%;
        text-align: right;
        background-color: white;
        

        
        .sidemenu-desktop-only {
            display: none;
        }

        .sidemenu-title {
            display: none;
        }
        
        ul.sidemenu-desktop-list {
            text-align: center;
            
            li {
                border-color: @lightGrey;
            }
            
            li:first-child {
                border-top: 0px;
            }
            
        }
        
        .close-icon {
            display: none;
        }
        
    }
    
    .sidemenu-close {
        transition: .3s;
        width: 100%;
        bottom: -(@sidemenu-mobile-height) !important;
        box-shadow: none;
    }
    
    .sidemenu-open {
        transition: .3s;
        bottom: 0px !important;
        box-shadow: none;
    }

}