.PhotoBig {
    max-width: calc(~"100vw - 40px");
    max-height: calc(~"100vh - 200px");
    border-radius: 4px;
    transition: .3s;
    transition-delay: .3s;
}

.PhotoBigRotation {
    transition : .3s;
    transform: rotateY(90deg);
}

.photoButtonsBox {
    margin-top: 20px;
    transition: .4s;
    
    i {
        color: lighten(@veryDarkGrey,30%);
        margin-right: 20px;
        font-size: 1em;
        cursor: pointer;
    }
    
    i:hover {
        color: @mediumGrey;
    }
    
    span {
        color: lighten(@veryDarkGrey,30%);
    }
    
}