.PhotoBig {
    max-width: calc(~"100vw - 40px");
    max-height: calc(~"100vh - 200px");
    border-radius: 4px;
    transition: .3s;
    transition-delay: .1s;
}

.PhotoHide {
    transition : .3s;
    opacity: 0;
}

@media (min-width: @screen-sm-min) {

    #img-container {
        position: relative;
    }

}

.photos-close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.7em;
    opacity: .5;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.photos-close-button:hover {
    opacity: 1;
}

.photoButtonsBox {
    margin-top: 20px;

    i {
        color: lighten(@veryDarkGrey,30%);
        margin: 0px 10px;
        font-size: 1em;
        cursor: pointer;
    }
    
    i:hover {
        color: @mediumGrey;
    }
    
    span {
        position: relative;
        user-select: none;
        top:-1px;
        color: lighten(@veryDarkGrey,30%);
    }
    
}