.PhotoBig {
    max-width: calc(~"100vw - 40px");
    max-height: calc(~"100vh - 100px");
    border-radius: 4px;
}

.PhotoCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}