.albumTitle {
  display: inline-block;
  font-size: 1.6em;
  color: @darkBlueGrey;
  margin: 0px 10px 10px 0px;
}

.albumPhotographer {
  display: inline-block;
  color: @mediumGrey;
  font-weight: 400;
  margin-bottom: 10px;
}

.albumDescription {
  display: block;
  font-size: 1em;
  font-weight: 300;
  color: @darkBlueGrey;
  margin-bottom: 15px;
}

.albumHr {
  margin: 12px 0px 20px 0px;
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  border-color: @mediumGrey;
}

#photos {
    overflow-x: hidden;
    margin-bottom: 75px;
    column-count: 2;
    column-gap: 5px;
    
    img {
      margin-bottom: 2px;
      width: 100%;
      height: auto;
    }
}

@media (min-width: @screen-sm-min) {

  #photos {
    margin-bottom: 0px;
    column-count: 3;
  }

}

@media (min-width: @screen-md-min) {

  #photos {
    column-count: 5;
  }

}

@media (min-width: @screen-lg-min) {

  #photos {
    column-count: 6;
  }

}